<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>录入新书</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/style/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
	<div class="layui-layout layui-layout-admin">
		<!--   公共头部   -->
		<div th:insert="common/header :: common_head"></div>
		<!--   公共左侧导航   -->
		<div th:insert="common/left :: common_left"></div>
		<!-- 主体内容 -->
		<div class="layui-body" align="center">
			<!--			<div class="layui-card">-->
			<div class="layui-card-header">修改用户信息</div>
			<div class="layui-card-body" style="padding: 15px;">
				<form class="layui-form" th:action="@{'/admin/user/updateMessage/'+${user.getUserId()}}" method="post"
				      lay-filter="component-form-group">
					<div class="layui-form-item">
						<label class="layui-form-label">用户名称</label>
						<div class="layui-input-inline" style="width: 460px">
							<input type="text" name="userName" lay-verify="required" autocomplete="off"
							       placeholder="请输入用户名称" class="layui-input layui-disabled"
							       th:value="${user.getUserName()}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">用户角色</label>
						<div class="layui-input-inline" style="width: 460px">
							<input type="text" name="userRole" lay-verify="required"
							       autocomplete="off" class="layui-input layui-disabled"
							       th:value="${user.getUserRole()}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-inline" style="width: 460px">
							<input type="text" name="userEmail" lay-verify="email" placeholder="请输入邮箱"
							       autocomplete="off" class="layui-input" th:value="${user.getUserEmail()}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">学院</label>
						<div class="layui-input-inline" style="width: 200px">
							<select name="deptId" lay-filter="aihao">
								<option value="" disabled selected style="display: none;">-- 请选择学院 --</option>
								<option th:each="dept : ${deptList}"
								        th:value="${dept.getDeptId()}"
								        th:text="${dept.getDeptName()}"
								        th:selected="${user.getDeptId()} == ${dept.getDeptId()}">
									<!--                        th:selected="${user.getDeptId() == dept.getDeptId()}">-->
									工程学院
								</option>
							</select>
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">用户状态</label>
						<div class="layui-input-inline" style="width: 200px;">
							<input type="text" autocomplete="off"
							       class="layui-input layui-disabled" th:value="${user.getUserStatus()}==0?'可用':'禁用'">
						</div>
					</div>
					<div class="layui-form-item layui-layout-admin">
						<div class="layui-input-block">
							<div class="layui-footer" style="left: 0;">
								<button type="submit" class="layui-btn" lay-filter="component-form-demo1" id="subBtn">
									立即提交
								</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--		</div>-->
		<!-- 辅助元素，一般用于移动设备下遮罩 -->
		<div class="layadmin-body-shade" layadmin-event="shade"></div>
	</div>

</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    $("#set").addClass("layui-nav-itemed");
    $("#set1").addClass("layui-this");
    $(".layui-btn-disabled").attr("disabled", "disabled");
    $("#subBtn").click(function () {
        confirm("确定修改吗？");
    });
</script>
</body>
</html>
