<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>录入新书</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/style/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
	<div class="layui-layout layui-layout-admin">
		<!--   公共头部   -->
		<div th:insert="common/header :: common_head"></div>
		<!--   公共左侧导航   -->
		<div th:insert="common/left :: common_left"></div>
		<!-- 主体内容 -->
		<div class="layui-body" align="center">
			<div class="layui-card-body" style="padding: 15px;">
				<form class="layui-form" th:action="@{'/admin/user/updateMessage/'+${user.getUserId()}}" method="post"
				      lay-filter="component-form-group">
					<input type="hidden" id="passwordIsOk" value="1">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-header">修改密码</div>
							<div class="layui-card-body" pad15>
								
								<div class="layui-form" lay-filter="">
									<div class="layui-form-item">
										<label class="layui-form-label">当前密码</label>
										<div class="layui-input-inline">
											<input type="password" name="oldPassword" lay-verify="required"
											       lay-verType="tips" id="oldPassword" placeholder="请输入旧密码"
											       class="layui-input">
										</div>
										<div class="layui-form-mid layui-inline" id="pwdMessage"></div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">新密码</label>
										<div class="layui-input-inline">
											<input type="password" name="userPwd" lay-verify="pass" lay-verType="tips"
											       placeholder="请输入6到16个字符"
											       autocomplete="off" id="LAY_password" class="layui-input">
										</div>
										<div class="layui-form-mid layui-inline" id="newPwd"></div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">确认新密码</label>
										<div class="layui-input-inline">
											<input type="password" name="repassword" lay-verify="repass"
											       placeholder="请再次输入密码"
											       lay-verType="tips" id="repassword"
											       autocomplete="off" class="layui-input">
										</div>
										<div class="layui-form-mid layui-inline" id="checkPwd"></div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<button type="submit" class="layui-btn" id="updateBtn" lay-submit
											        lay-filter="setmypass"
											        style="margin-left: -900px">确认修改
											</button>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--		</div>-->
		<!-- 辅助元素，一般用于移动设备下遮罩 -->
		<div class="layadmin-body-shade" layadmin-event="shade"></div>
	</div>

</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    $("#set").addClass("layui-nav-itemed");
    $("#set2").addClass("layui-this");

    // $(".layui-btn-disabled").attr("disabled", "disabled");
    $("#subBtn").click(function () {
        confirm("确定修改吗？");
    });

    $("#oldPassword").blur(function () {
        var oldPass = $(this).val();
        if (oldPass != '') {
            $.post(
                "/admin/user/checkPassword",
                {"oldPass": oldPass},
                function (data) {
                    var pwdMessage = $("#pwdMessage");
                    if (data == "noExist") {
                        pwdMessage.html("密码错误，请重新输入！").css({"color": "red"});
                        $("#passwordIsOk").val("0");
                        $("#updateBtn").addClass("layui-btn-disabled").attr("disable", "disabled");
                    } else {
                        pwdMessage.html("密码输入正确").css({"color": "green"});
                        $("#updateBtn").removeClass("layui-btn-disabled").removeAttr("disable", "disabled");
                        $("#passwordIsOk").val("1");
                    }
                }, "text");
        }
    });

    $("#LAY_password").blur(function () {
        var newPassage = $(this).val();
        if (newPassage != '') {
            $.post(
                "/admin/user/checkPassword",
                {"oldPass": newPassage},
                function (data) {
                    var pwdMessage = $("#newPwd");
                    if (data == "exist") {
                        pwdMessage.html("新密码不能和原密码相同").css({"color": "red"});
                        $("#passwordIsOk").val("0");
                        $("#updateBtn").addClass("layui-btn-disabled").attr("disable", "disabled");
                    } else {
                        pwdMessage.html("").css({"color": "green"});
                        $("#updateBtn").removeClass("layui-btn-disabled").removeAttr("disable", "disabled");
                        $("#passwordIsOk").val("1");
                    }
                }, "text");
        }
        /*var newPassage = $("#LAY_password").val();
        var oldPassword = $("#oldPassword").val();*/
        /*if (oldPassword == newPassage) {
            $("#newPwd").html("新密码不能和原密码相同").css({"color": "red"});
            $("#passwordIsOk").val("0");
            $("#updateBtn").addClass("layui-btn-disabled").attr("disable", "disabled");
        } else {
            $("#newPwd").html("");
            $("#passwordIsOk").val("1");
            $("#updateBtn").removeClass("layui-btn-disabled").removeAttr("disable", "disabled");
        }*/
    });

    $("#updateBtn").click(function () {
        var newPassage = $("#LAY_password").val();
        var repassword = $("#repassword").val();
        var oldPassword = $("#oldPassword").val();
        if (newPassage == '') {
            $("#newPwd").html("密码不能为空").css({"color": "red"});
            return false;
        }
        if (repassword == '') {
            $("#checkPwd").html("密码不能为空").css({"color": "red"});
            return false;
        }
        if (oldPassword == newPassage) {
            $("#newPwd").html("新密码不能和原密码相同").css({"color": "red"});
            return false;
        }
        if (newPassage != '' && repassword != '' && newPassage != repassword) {
            $("#checkPwd").html("两次密码输入不一致").css({"color": "red"});
            return false;
        } else if ($("#passwordIsOk").val() == 0) {
            $("#checkPwd").html("密码输入不正确").css({"color": "red"});
            return false;
        } else {
            $("#checkPwd").html("");
        }

    });
</script>
</body>
</html>
