<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javamap.book.dao.UserMapper">
    <resultMap id="BaseResultMap" type="cn.javamap.book.pojo.User">
        <constructor>
            <idArg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_pwd" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_role" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dept_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
        <association property="dept" column="dept_id"
                     select="cn.javamap.book.dao.DeptMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, user_name, user_pwd, user_role, user_email, user_status, dept_id
  </sql>
    <sql id="Where_List">
        <trim prefix="where" prefixOverrides="and">
            <if test="user.userId != null">
                and user_id=#{user.userId,jdbcType=INTEGER}
            </if>
            <if test="user.userName != null">
                and user_name=#{user.userName,jdbcType=VARCHAR}
            </if>
            <if test="key != null">
                and user_name like concat ('%',#{key,jdbcType=VARCHAR}, '%')
            </if>
            <if test="user.userPwd != null">
                and user_pwd=#{user.userPwd,jdbcType=VARCHAR}
            </if>
            <if test="user.userRole != null">
                and user_role=#{user.userRole,jdbcType=VARCHAR}
            </if>
            <if test="user.userEmail != null">
                and user_email=#{user.userEmail,jdbcType=VARCHAR}
            </if>
            <if test="user.userStatus != null">
                and user_status=#{user.userStatus,jdbcType=INTEGER}
            </if>
            <if test="user.deptId != null">
                and dept_id=#{user.deptId,jdbcType=INTEGER}
            </if>
        </trim>
    </sql>
    <select id="selectAllSelective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <include refid="Where_List"/>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.javamap.book.pojo.User">
    insert into user (user_id, user_name, user_pwd, 
      user_role, user_email, user_status, 
      dept_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userRole,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userStatus,jdbcType=INTEGER}, 
      #{deptId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="cn.javamap.book.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userRole != null">
                user_role,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                #{userRole,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.javamap.book.pojo.User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                user_role = #{userRole,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.javamap.book.pojo.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>