<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>图书管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/style/admin.css}" media="all">

</head>
<body class="layui-layout-body">

<div id="LAY_app">
	<div class="layui-layout layui-layout-admin">
		<!-- 侧边菜单 -->
		<div class="layui-side layui-side-menu" th:fragment="common_left">
			<div class="layui-side-scroll">
				<div class="layui-logo" lay-href="home/console.html">
					<span>图书管理</span>
				</div>
				<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
				    lay-filter="layadmin-system-side-menu">
					<li data-name="home" class="layui-nav-item layui-nav-itemed">
						<a th:href="@{/user/index}" lay-tips="主页" lay-direction="2">
							<i class="layui-icon layui-icon-home"></i>
							<cite>主页</cite>
						</a>
					</li>
					<li data-name="template" class="layui-nav-item" id="book">
						<a href="javascript:;" lay-tips="书籍管理" lay-direction="2">
							<i class="layui-icon layui-icon-template"></i>
							<cite>书籍管理</cite>
						</a>
						<dl class="layui-nav-child">
							<dd id="book1"><a th:href="@{/book/searchBook}"><i class="layui-icon layui-icon-search"></i>查询书籍</a>
							</dd>
							<dd id="book2"><a th:href="@{/book/addBook}"><i
									class="layui-icon layui-icon-add-circle"></i>录入新书</a></dd>
							<dd id="book3"><a th:href="@{/category/addCategory}"><i
									class="layui-icon layui-icon-carousel"></i>书籍类别</a></dd>
							<dd id="error"><a th:href="@{/book/error}"><i class="layui-icon layui-icon-face-cry"></i>错误提示</a>
							</dd>
						</dl>
					</li>
					<li data-name="app" class="layui-nav-item" id="borrow">
						<a href="javascript:;" lay-tips="借阅信息" lay-direction="2">
							<i class="layui-icon layui-icon-read"></i>
							<cite>借阅信息</cite>
						</a>
						<dl class="layui-nav-child">
							<dd id="borrow1">
								<a th:href="@{/borrow/list}"><i class="layui-icon layui-icon-log"></i>借书记录</a>
							</dd>
						</dl>
						<dl class="layui-nav-child">
							<dd id="borrow2">
								<a th:href="@{/borrow/list(borrowStatus=2)}"><i class="layui-icon layui-icon-log"></i>待处理记录</a>
							</dd>
						</dl>
					</li>
					<li data-name="user" class="layui-nav-item" id="webuser">
						<a href="javascript:;" lay-tips="用户" lay-direction="2">
							<i class="layui-icon layui-icon-user"></i>
							<cite>用户</cite>
						</a>
						<dl class="layui-nav-child">
							<dd id="webuser1">
								<a th:href="@{/admin/user/list(id=1)}"><i class="layui-icon layui-icon-user"></i>
									网站用户</a>
							</dd>
						</dl>
					</li>
					<li data-name="set" class="layui-nav-item" id="set">
						<a href="javascript:;" lay-tips="设置" lay-direction="2">
							<i class="layui-icon layui-icon-set"></i>
							<cite>设置</cite>
						</a>
						<dl class="layui-nav-child">
							<dd id="set1">
								<a th:href="@{/admin/user/updateMessage}"><i class="layui-icon layui-icon-form"></i>基本资料</a>
							</dd>
							<dd id="set2">
								<a th:href="@{/admin/user/updatePassword}"><i
										class="layui-icon layui-icon-password"></i>修改密码</a>
							</dd>
						</dl>
					</li>
					<li data-name="set" class="layui-nav-item">
						<a href="javascript:;" lay-tips="帮助" lay-direction="2">
							<i class="layui-icon layui-icon-help"></i>
							<cite>帮助</cite>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    /* $("#bookbook").show();
	 $("#book").css("display", "block");*/
</script>
</body>
</html>


